body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

h4{
    text-align: center;
}

.orange-color{
    color: orange;
    font-size: 30px;
}

p{
    text-align: justify;
    margin-bottom: 30px;
}
.click-link
{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(orange,tomato);
    padding: 14px 30px;
    font-weight: bolder;
    border-radius: 5px;
}

section{
    margin-bottom: 150px;
}
.flex-section
{
    display: flex;
}

.welcome{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width
{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img
{
    width: 80%;
}

.dream
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 300px;
}

.exp-shadow{
    box-shadow: 8px 8px 30px gray;
    
    /* border-radius: 20px; */
    width: 35%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

#fullstackdev
{
    border-left: 10px solid;
    border-image:linear-gradient(blue,orange);
    border-image-slice: 1;
    border-radius: 0px 20px 20px 0px;
}

#babydev
{
    border-left: 10px solid;
    border-image:linear-gradient(rgb(132, 0, 255),rgb(5, 204, 171));
    border-image-slice: 1;
}

footer p{
    text-align: center;
}